<!DOCTYPE html>
<html>
  <head>
    <div class="container">
    <h1>Bridged Objects</h1>
  </div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>

  	<div class="container">
  		<img src="http://i.imgur.com/4BZdHWim.jpg"></img>
      <br />


      <a href="{{ url_for('add_text', item='1') }}"><button>Comment on This!</button></a>

		  <br />
      <a href="{{ url_for('add_pic', item='1') }}"><button>Upload a picture/video</button></a>
    </div>
    <div class="container">
      <img src="http://i.imgur.com/OloYSUJm.jpg"></img>
      <br />
      <a href="{{ url_for('add_text', item='2') }}"><button>Comment on This!</button></a>
      <br />
      <a href="{{ url_for('add_pic', item='2') }}"><button>Upload a picture/video</button></a>
    </div>

    <div class="container">
      <img src="http://i.imgur.com/ALf8kcim.jpg"></img>
      <br />
      <a href="{{ url_for('add_text', item='3') }}"><button>Comment on This!</button></a>
      <br />
      <a href="{{ url_for('add_pic', item='3') }}"><button>Upload a picture/video</button></a>
    </div>



</body>

</html>